<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Placement Prediction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
</head>
<div>
    <div class="container">
        <div class="row">
        <div class="col-sm5 col-sm-offset-1">
        <h1>Placement Forcasting</h1>
        <form action="/home1" role="form" method='POST'>
            <label for="gender">Gender:</label>
            <input type="text" id="gender" name="gender"><br><br>
            <label for="ssc_p">SSC_P:</label>
            <input type="text" id="ssc_p" name="ssc_p"><br><br>
            <label for="ssc_b">SSC_B:</label>
            <input type="text" id="ssc_b" name="ssc_b"><br><br>
            <label for="hsc_p">HSC_P:</label>
            <input type="text" id="hsc_p" name="hsc_p"><br><br>
            <label for="hsc_b">HSC_B:</label>
            <input type="text" id="hsc_b" name="hsc_b"><br><br>
            <label for="hsc_s">HSC_S:</label>
            <input type="text" id="hsc_s" name="hsc_s"><br><br>
            <label for="degree_p">DEGREE_P:</label>
            <input type="text" id="degree_p" name="degree_p"><br><br>
            <label for="degree_t">DEGREE_T:</label>
            <input type="text" id="degree_t" name="degree_t"><br><br>
            <label for="workex">WORKEX:</label>
            <input type="text" id="workex" name="workex"><br><br>
            <label for="etest_p">ETEST_P:</label>
            <input type="text" id="etest_p" name="etest_p"><br><br>
            <label for="specialisation">DEGREE_P:</label>
            <input type="text" id="specialisation" name="specialisation"><br><br>
            <label for="mba_p">MBA_P:</label>
            <input type="text" id="mba_p" name="mba_p"><br><br>
            <input type="submit">
        </form>
        <br>
        {% for error in errors %}
            <h4>{{ error }}</h4>
        {% endfor %}
       <br>
       </div>
       <div class="col-sm5 col-sm-offset-1">
           {% if prediction %}
           <h2>Result</h2>
           <h4>{{prediction}}</h4>
           {% endif %}
       </div>
    </div>
</div>
</div>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</body>
</html>
